# SciGRID Exploration

This notebook explores the SciGRID power system model using pandas.
It is part of the Smart Wires Products and Solutions Analytics
[open training course](https://github.com/smartwiresinc/training).

## 1. Import pandas

Load the Python Data Analysis library with the name `pd`

In [1]:
import pandas as pd

## 2. Load and display data sets

### Vertices, or terminal nodes (substations, generators)

In [2]:
terminals = pd.read_csv('vertices_de_power_160718.csv', quotechar="'")
terminals.head()

,v_id,lon,lat,typ,voltage,frequency,name,operator,ref,wkt_srid_4326
0,1,9.522576,52.360409,substation,220000;110000,50,Hannover/West,TenneT;EON_Netz,NaN,SRID=4326;POINT(9.52257601112577 52.3604090734...
1,2,9.113210,52.543853,substation,220000,50,Umspannwerk Kraftwerk Robert Frank,TenneT,NaN,SRID=4326;POINT(9.11321011483187 52.5438533448...
2,3,9.389745,52.026313,substation,380000;110000,50,UW Grohnde 380 kV / 110 kV,TenneT,NaN,SRID=4326;POINT(9.38974515063535 52.0263130791...
3,4,9.125266,52.538264,substation,380000;220000,50,Landesbergen,TenneT TSO GmbH,NaN,SRID=4326;POINT(9.12526574244048 52.5382641233...
4,5,10.366275,52.284647,substation,380000;220000,50,Wahle,TenneT,NaN,SRID=4326;POINT(10.366274939217 52.2846467643429)

### Links, or branches connecting terminal nodes (transmission lines)

In [3]:
branches = pd.read_csv('links_de_power_160718.csv', quotechar="'")
branches.head()

,l_id,v_id_1,v_id_2,voltage,cables,wires,frequency,name,operator,ref,length_m,r_ohmkm,x_ohmkm,c_nfkm,i_th_max_a,from_relation,wkt_srid_4326
0,1,1,2,220000,3.0,2.0,50.0,Leitung 2016,TenneT,2016,43396,0.0800,0.320,11.5,1.3,67129,SRID=4326;LINESTRING(9.52257601112577 52.36040...
1,2,3,4,380000,3.0,4.0,50.0,Leitung 3011,TenneT,NaN,72714,0.0250,0.250,13.7,2.6,67131,SRID=4326;LINESTRING(9.38974515063535 52.02631...
2,3,5,6,220000,3.0,2.0,50.0,Leitung 2024,TenneT,1,33954,0.0800,0.320,11.5,1.3,67151,SRID=4326;LINESTRING(10.366274939217 52.284646...
3,4,7,5,380000,3.0,4.0,50.0,Leitung 3026,TenneT,3026,33483,0.0250,0.250,13.7,2.6,67153,SRID=4326;LINESTRING(9.9171797569037 52.278168...
4,5,8,9,380000,6.0,4.0,50.0,KKW Krümmel - UW Lüneburg,TenneT,NaN,28172,0.0125,0.125,27.4,5.2,67585,SRID=4326;LINESTRING(10.4149924241538 53.41260...

## 3. Try Jupyter

Use this area for the exercises.

In [4]:
substations = terminals[terminals["typ"] == "substation"]
substations.head()

,v_id,lon,lat,typ,voltage,frequency,name,operator,ref,wkt_srid_4326
0,1,9.522576,52.360409,substation,220000;110000,50,Hannover/West,TenneT;EON_Netz,NaN,SRID=4326;POINT(9.52257601112577 52.3604090734...
1,2,9.113210,52.543853,substation,220000,50,Umspannwerk Kraftwerk Robert Frank,TenneT,NaN,SRID=4326;POINT(9.11321011483187 52.5438533448...
2,3,9.389745,52.026313,substation,380000;110000,50,UW Grohnde 380 kV / 110 kV,TenneT,NaN,SRID=4326;POINT(9.38974515063535 52.0263130791...
3,4,9.125266,52.538264,substation,380000;220000,50,Landesbergen,TenneT TSO GmbH,NaN,SRID=4326;POINT(9.12526574244048 52.5382641233...
4,5,10.366275,52.284647,substation,380000;220000,50,Wahle,TenneT,NaN,SRID=4326;POINT(10.366274939217 52.2846467643429)

In [5]:
len(substations)

437

### Summary Statistics:
* What is the most common voltage level for substations?

In [6]:
voltage_column = terminals.voltage
df = voltage_column.dropna()
df.value_counts().max()
df.value_counts().idxmax()

'220000;110000'

### Summary Statistics:
* How many unique transmission system operators are captured in this dataset?

In [9]:
operators=branches.operator
df = operators.dropna()
unigue_df=df.drop_duplicates()
print(unigue_df)
len(unigue_df)

0                      TenneT
5                     50Hertz
8             TenneT TSO GmbH
9                  transpower
43           Stromnetz Berlin
46                       EnBW
57         Stadtwerke München
58       CEPS;TenneT TSO GmbH
61                    Amprion
93                       ČEPS
97       50Hertz Transmission
206      50Hertz_Transmission
211      PSE Operator;50Hertz
251                     markE
341    EnBW Transportnetze AG
353            Amprion;TenneT
356       Energinet.dk;TenneT
370             PSE-O;50Hertz
410                       RWE
536         Schluchseewerk AG
541                   amprion
549          Transnet BW GmbH
584                       LEW
597             Netz Veltheim
650                   50hertz
690                       RTE
Name: operator, dtype: object

26

### Summary Statistics:
* How many transmission lines are longer than 10km?

In [8]:
length_meter=branches.length_m
Br_longer10=sorted(x for x in length_meter if x >= 10000)
len(Br_longer10)

633

### Summary Statistics:
* What are the two most common resistance/km values?

In [10]:
items_counts = branches['r_ohmkm'].value_counts()
items_counts.head(2)

0.025    226
0.080    211
Name: r_ohmkm, dtype: int64

In [11]:
branches["r_total"] = branches["r_ohmkm"] * (branches["length_m"] / 1000)
branches.head()

,l_id,v_id_1,v_id_2,voltage,cables,wires,frequency,name,operator,ref,length_m,r_ohmkm,x_ohmkm,c_nfkm,i_th_max_a,from_relation,wkt_srid_4326,r_total
0,1,1,2,220000,3.0,2.0,50.0,Leitung 2016,TenneT,2016,43396,0.0800,0.320,11.5,1.3,67129,SRID=4326;LINESTRING(9.52257601112577 52.36040...,3.471680
1,2,3,4,380000,3.0,4.0,50.0,Leitung 3011,TenneT,NaN,72714,0.0250,0.250,13.7,2.6,67131,SRID=4326;LINESTRING(9.38974515063535 52.02631...,1.817850
2,3,5,6,220000,3.0,2.0,50.0,Leitung 2024,TenneT,1,33954,0.0800,0.320,11.5,1.3,67151,SRID=4326;LINESTRING(10.366274939217 52.284646...,2.716320
3,4,7,5,380000,3.0,4.0,50.0,Leitung 3026,TenneT,3026,33483,0.0250,0.250,13.7,2.6,67153,SRID=4326;LINESTRING(9.9171797569037 52.278168...,0.837075
4,5,8,9,380000,6.0,4.0,50.0,KKW Krümmel - UW Lüneburg,TenneT,NaN,28172,0.0125,0.125,27.4,5.2,67585,SRID=4326;LINESTRING(10.4149924241538 53.41260...,0.352150

### Derived Values
* Which line has the largest total resistance?

In [12]:
i=branches['r_total'].idxmax()
print(branches.iloc[i])

l_id                                                           496
v_id_1                                                         282
v_id_2                                                         342
voltage                                                     220000
cables                                                           3
wires                                                            1
frequency                                                      NaN
name                                                           NaN
operator                                                   50Hertz
ref                                                            358
length_m                                                    158679
r_ohmkm                                                       0.16
x_ohmkm                                                       0.64
c_nfkm                                                        5.75
i_th_max_a                                                    0.65
from_relation                                              3739954
wkt_srid_4326    SRID=4326;LINESTRING(12.518222136544 51.157072...
r_total                                                    25.3886
Name: 495, dtype: object

### Derived Values
* What are the lines with the 10 largest X/R ratios? 10 smallest?

In [13]:
branches["Ratio_X_R"] = branches["x_ohmkm"] / branches["r_ohmkm"] 
X=branches.sort_values('Ratio_X_R')
X.head(n=10)

,l_id,v_id_1,v_id_2,voltage,cables,wires,frequency,name,operator,ref,length_m,r_ohmkm,x_ohmkm,c_nfkm,i_th_max_a,from_relation,wkt_srid_4326,r_total,Ratio_X_R
0,1,1,2,220000,3.0,2.0,50.0,Leitung 2016,TenneT,2016,43396,0.08,0.32,11.50,1.30,67129,SRID=4326;LINESTRING(9.52257601112577 52.36040...,3.47168,4.0
663,664,24,272,220000,3.0,1.0,50.0,NaN,TenneT,206,63332,0.16,0.64,5.75,0.65,5207200,SRID=4326;LINESTRING(9.72699275106814 54.29142...,10.13312,4.0
664,665,13,14,220000,3.0,2.0,50.0,Oba-Nfi II,TenneT TSO GmbH,264,39295,0.08,0.32,11.50,1.30,5247406,SRID=4326;LINESTRING(11.3704263094168 48.29149...,3.14360,4.0
270,271,69,215,220000,3.0,2.0,50.0,Anilin 2B,Amprion,NaN,13609,0.08,0.32,11.50,1.30,1636726,SRID=4326;LINESTRING(8.41937108566179 49.63373...,1.08872,4.0
267,268,69,215,220000,3.0,2.0,50.0,Anilin 1A,Amprion,NaN,13611,0.08,0.32,11.50,1.30,1636721,SRID=4326;LINESTRING(8.41937108566179 49.63373...,1.08888,4.0
266,267,213,214,220000,3.0,1.0,50.0,Rheinau Ost,Amprion,NaN,45094,0.16,0.64,5.75,0.65,1636720,SRID=4326;LINESTRING(8.58869053015616 49.81551...,7.21504,4.0
681,682,362,404,220000,3.0,2.0,50.0,NaN,NaN,NaN,15077,0.08,0.32,11.50,1.30,5716121,SRID=4326;LINESTRING(8.04936553586669 47.55087...,1.20616,4.0
683,684,508,509,220000,3.0,2.0,50.0,NaN,NaN,NaN,29715,0.08,0.32,11.50,1.30,5978211,SRID=4326;LINESTRING(7.97117863459035 47.54578...,2.37720,4.0
684,685,362,508,220000,3.0,2.0,50.0,NaN,NaN,NaN,6386,0.08,0.32,11.50,1.30,5978214,SRID=4326;LINESTRING(8.04936553586669 47.55087...,0.51088,4.0
273,274,213,214,220000,3.0,2.0,50.0,Rheinau West,Amprion,NaN,45094,0.08,0.32,11.50,1.30,1636737,SRID=4326;LINESTRING(8.58869053015616 49.81551...,3.60752,4.0

### Derived Values
* Which line has the highest total impedance?

In [15]:
import numpy as np
branches["Imp"]=np.sqrt(((branches["x_ohmkm"]*branches["length_m"])**2)+((branches["r_ohmkm"]*branches["length_m"])**2))
X=branches.sort_values('Imp')
X.head(1)

,l_id,v_id_1,v_id_2,voltage,cables,wires,frequency,name,operator,ref,length_m,r_ohmkm,x_ohmkm,c_nfkm,i_th_max_a,from_relation,wkt_srid_4326,r_total,Ratio_X_R,Imp
798,799,51,518,380000,6.0,4.0,50.0,NaN,TenneT,3002,105,0.0125,0.125,27.4,5.2,3688564,SRID=4326;LINESTRING(9.25938384941478 51.06036...,0.001313,10.0,13.190462